<div class="page-wrapper">
    <section [ngClass]="{'overlay' : overlayDisplayed}"></section>

    <header>
        <div class="row py-3 px-cust-5">
            <div class="col-3 d-flex d-lg-flex align-items-end col-md-3"><img class="img-fluid"
                    src="assets/img/hdlogo.jpg" style="width: 4rem;"><i
                    class="fa fa-map-marker ml-3 mr-1 d-none d-lg-block"></i><span class="d-none d-lg-block">Find Your
                    Location</span>
            </div>
            <div id="search-column" class="col d-flex align-items-end col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend"></div>
                    <input class="form-control" type="text" [(ngModel)]="searchField">
                    <div class="input-group-append"><button class="btn btn-primary" type="button"><i
                                class="fa fa-search"></i></button></div>
                </div>
                <ul class="list-unstyled d-block d-none d-lg-block" *ngIf="showSearchResult">
                    <li key={item} class="py-1 px-2" *ngFor="let item of searchResults">
                        <a [routerLink]="['/brand', item]" (click)="clearSearchbox()">{{item}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-2 d-flex justify-content-between align-items-end align-items-md-end col-md-3">
                <ng-container *ngIf="!isLoggedIn">
                    <a id="account" class="d-none d-lg-block" data-toggle="modal" data-target="#myAccountModal">
                        <span class="mr-1 font-weight-bold">Login</span>
                        <i class="fa fa-user-o font-weight-bold"></i>
                    </a>
                </ng-container>
                <ng-container *ngIf="isLoggedIn">
                    <!-- <span class="mr-1 font-weight-bold">Welcome {{user.name}}</span> -->
                    <a (click)="signOut()">
                        <span class="mr-1 font-weight-bold">Logout</span>
                    </a>
                </ng-container>
                <a [routerLink]="['/cart']">
                    <span class="mr-1 d-none d-lg-inline-block">Cart</span>
                    <i class="fa fa-cart-arrow-down" id="cart"></i>
                    <span class="badge badge-primary ml-1 d-none d-lg-inline-block">{{cartItems.length}}</span>
                </a>
            </div>
        </div>

        <nav class="navbar navbar-light navbar-expand-lg px-cust-5 my-0">
            <div class="container-fluid"><button data-toggle="collapse" data-target="#navcol-1"
                    class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li role="presentation" class="nav-item drop-down" (mouseenter)="showOverlay(true)"
                            (mouseleave)="showOverlay(false)">
                            <a class="nav-link">
                                All Departments
                                <i class="fa fa-caret-down ml-1"></i>
                            </a>
                            <ul class="list-unstyled">
                                <li><a [routerLink]="['/appliances']">Appliances</a></li>
                                <li><a href="#"><span style="text-decoration: underline;">Bath &amp; Faucets</span></a>
                                </li>
                                <li><a href="#">Blinds &amp; Window Treatment</a></li>
                                <li><a href="#">Building Materials</a></li>
                                <li><a href="#">Decor &amp; Furniture</a></li>
                                <li><a href="#"><span style="text-decoration: underline;">Doors &amp; Windows</span></a>
                                </li>
                                <li><a href="#"><span style="text-decoration: underline;">Electrical</span></a></li>
                                <li><a href="#">Flooring &amp; Area Rugs</a></li>
                                <li><a href="#">Hardware</a></li>
                                <li><a href="#">Heating &amp; Cooling</a></li>
                                <li><a href="#">Kitchen &amp; Kitchenware</a></li>
                                <li><a href="#">Lawn &amp; Garden</a></li>
                                <li><a href="#">Lighting &amp; Ceiling Fans</a></li>
                                <li><a href="#">AppliaOutdoor Living &amp; Pationces</a></li>
                                <li><a href="#">Paint</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Home Decor &amp;
                                Furniture</a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#">DIY Projects &amp;
                                Ideas</a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Installation &amp;
                                Services</a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Specials &amp; Offers</a>
                        </li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Local Ad</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-center py-lg-1" id="marquee">
            <span class="d-none d-lg-inline-block mr-1">{{marquee}}</span>
            <!-- <span class="mx-2 d-none d-lg-inline-block">
                Order by December 20 - thousands of online items eligible
            </span> -->
            <i class="fa fa-angle-right d-none d-lg-inline-block"></i>
        </div>
    </header>

    <app-breadcrumb></app-breadcrumb>

</div>


<!-- Modal -->
<div class="modal fade" id="myAccountModal" tabindex="-1" role="dialog" aria-labelledby="myAccountModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myAccountModalTitle">My Account Sign In</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="c-orange f-2 font-weight-bold">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col-md-12" id="message">
                            <div class="form-group">
                                <label for="email">Name</label>
                                <input type="text" name="name" required class="form-control" id="name"
                                    [(ngModel)]="user.name" />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" required class="form-control" id="email"
                                    [(ngModel)]="user.email" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" required class="form-control" id="password"
                                    [(ngModel)]="user.password" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block bg-primary-orange font-weight-bold 
                                  border-inset button" (click)="signIn()" data-dismiss="modal">
                    Sign In
                </button>
            </div>
        </div>
    </div>
</div>